/SublimeLinter
/Package Control.cache
/PHP.sublime-settings
/phpfmt.sublime-settings
/Preferences.sublime-settings
/WakaTime.sublime-settings
/oscrypto-ca-bundle.crt
/Package Control.last-run
/Package Control.merged-ca-bundle
/Package Control.sublime-settings
/Package Control.user-ca-bundle
